In [ ]:
'''Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans.A database is a structured collection of data that is organized and stored for easy retrieval,manipulation,and management.It provides a way to 
store,organize,and manage large amounts of information efficiently.

SQL databases:
1.SQL databases are based on a relational model.
2.They use structured query language (SQL) for defining and manipulating the data.
3.They have a predefined schema that specifies the structure of the data.
4.SQL databases provide strong consistency, ACID (Atomicity, Consistency, Isolation, Durability) properties, and support for complex transactions.
5.Examples of SQL databases include MySQL, PostgreSQL, Oracle, SQL Server.

NoSQL databases:
1.NoSQL databases are not based on a rigid relational model.
2.They provide flexible schemas and can handle unstructured, semi-structured, and structured data.
3.NoSQL databases use various data models like key-value pairs, document-based, columnar, or graph-based structures.
4.They offer high scalability, high availability, and fault tolerance.
5.NoSQL databases sacrifice some of the consistency and transactional features for improved performance and scalability.
6.Examples of NoSQL databases include MongoDB, Cassandra, Redis, Couchbase.'''

In [ ]:
'''Q2.What is DDL?Explain why CREATE,DROP,ALTER,and TRUNCATE are used with an example.

Ans.DDL stands for Data Definition Language.It is a subset of SQL used to define and manage the structure of a database and its objects.DDL statements
are used to create,modify,and delete database objects such as tables,indexes,views,and schemas.

CREATE:The CREATE statement is used to create new database objects.
CREATE TABLE Customers (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    email VARCHAR(100)
);

DROP:The DROP statement is used to delete existing database objects. 
DROP TABLE Customers;

ALTER:The ALTER statement is used to modify the structure of existing database objects. 
ALTER TABLE Customers ADD COLUMN phone VARCHAR(20);

TRUNCATE:The TRUNCATE statement is used to delete all the data from a table, but keep the table structure intact.
TRUNCATE TABLE Customers;
'''

In [ ]:
'''Q3. What is DML? Explain INSERT,UPDATE,and DELETE with an example.

Ans.DML stands for Data Manipulation Language.It is used to retrieve,modify,and delete data stored in the database.

INSERT:The INSERT statement is used to add new records into a table
INSERT INTO Customers id, name, email VALUES 1, 'Abhinav Giri', 'ab@gmail.com';

UPDATE: The UPDATE statement is used to modify existing records in a table. 
UPDATE employees SET salary=55000 WHERE id=1;

DELETE:It is used to delete data from a table.
DELETE FROM employees WHERE id=1;
'''

In [ ]:
'''Q4. What is DQL? Explain SELECT with an example.
Ans.DQL (Data Query Language) is a set of SQL statements used to retrieve data from a database. SELECT is the most commonly used DQL statement, which is used to retrieve data from one or more tables. For example, the following SQL statement retrieves all the data from the "employees" table:

SELECT * FROM employees;

This statement selects all the columns and rows in the table.'''

In [ ]:
'''Q5.Primary Key and Foreign Key are two important concepts in relational databases.

Ans.Primary Key:
A Primary Key is a column or set of columns in a table that uniquely identifies each row. It ensures the uniqueness and integrity of the data in the 
table. The primary key constraint ensures that the primary key values are unique and not null. Each table in a database can have only one primary key.

Foreign Key:
A Foreign Key is a column or set of columns in a table that refers to the primary key of another table. It establishes a relationship between two 
tables based on the values of these columns. The foreign key constraint ensures that the values in the foreign key column(s) of one table match the
primary key values of another table. This constraint helps maintain referential integrity and enforce relationships between tables.'''

In [ ]:
'''Q6.Here's an example of connecting Python to MySQL and using the cursor() and execute() methods:
import mysql.connector
cn=mysql.connector.connect(user='aqwe', password='abcd', host='localhost', database='hotel')
cursor=cn.cursor()
query="SELECT * FROM employees"
cursor.execute(query)
results=cursor.fetchall()
for row in results:
    print(row)
cursor.close()
cn.close()
'''

In [ ]:
'''Q7.Give the order of execution of SQL clauses in an SQL query.
Ans.The order of execution of SQL clauses in an SQL query is as follows:

1.FROM:Specifies the table(s) from which the data is retrieved.
2.WHERE:Filters the rows based on specified conditions.
3.GROUP BY:Groups the rows based on specified columns.
4.HAVING:Filters the grouped rows based on specified conditions.
5.SELECT:Retrieves the specified columns or expressions for the result set.
6.ORDER BY:Sorts the result set based on specified columns or expressions.
7.LIMIT/OFFSET:Specifies the number of rows to retrieve or skip.
'''